/* Estilo para o cabeçalho */
.header {
    background-color: #ffc56d;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    position: relative;
}


.header img {
    max-width: 100px;
}

.back-buttonn {
    position: absolute; /* Use posicionamento absoluto para posicionar o botão */
    left: 10px; /* Defina a posição esquerda para ajustar conforme necessário */
    background: none;
    border: none;
    cursor: pointer;
}

 

body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para os botões */
.btn {
    margin-top: 70px;
    font-size: 18px;
    font-weight: bold;
}

/* Estilo específico para os botões de diferentes ações */
.btn{
    background-color:#fdcf8a;
    color: #fff;
    border-color: #fdcf8a;
}

/* Estilo para os botões quando hover (passar o mouse por cima) */
