 


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
     
}

.body {
     display: flex; 
    flex-direction: column;
    
    background-color:white;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #ffc56d;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    position: relative;
}


.img {
    width: 100px;
    height: 100px;
    position: absolute; /* Adicione esta linha para usar posicionamento absoluto */
    left: 50%; /* Centralize horizontalmente a logo */
    transform: translateX(-50%); /* Centralize horizontalmente a logo */

}

 

input{
    border: 1px solid #708090;
    width: 99%;
    height: 30px;
    border-color: #ffc56d;
    
}

.back-buttonn {
    position: absolute; /* Use posicionamento absoluto para posicionar o botão */
    left: 10px; /* Defina a posição esquerda para ajustar conforme necessário */
    background: none;
    border: none;
    cursor: pointer;
}
.description{
    font-size: 20px; /*tamanho da fonte */
    
}
.left-align{
    text-align: left;
    margin-bottom: 30px;
    
}

.button {
    background-color:   #ffc56d; /*cor do botao*/
    color: #f1f1f1; /*cor das letras*/
    padding: 10px 20px;
    border:  #ffc56d; /*cor da borda do botao*/
    border-radius: 3px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 41%;
     
       
     
    
}

table { /*area da planilia*/
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

table, th, td { /*cor das linhas da planilia*/
    border: 1px solid #000000;
    
}

th, td { /*espaçamento dos elementos da planilia*/
    padding: 10px; /* Reduzi o espaçamento das células */
    text-align: center;
    width: auto; /* Removi a largura fixa para permitir que a tabela se ajuste automaticamente */
}

th {
    background-color: #fdcf8a; /*cabeçalho da planilha*/
    color: #fff;
} 

 
