@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 
          
body{
    margin: 0;
    font-family: "Poppins", sans-serif;
     
    background-color: #ecf0f1;
}

.header-body{
color: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.p{
     font-size: 0.9em;
     max-width: 35em;
     line-height: 2px;
}
ul{
    list-style: none;
}
a{
    
    text-decoration: none;
     
}
 
h1{
    margin:0.5em 0;
    font-size: 3em;
}

h5{
   text-align: center;
    margin:0.5em 0;
    font-size: 2em;  
}

.specs h2, .about h2{
    font-size: 2em;
    padding-left: 1.2em;
    border-left: 0.1em #ff6700 solid;
}

ul{
    list-style: none;
}

section{
    padding: 2.5em;
}

nav, .infos, .info, .specs-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specs, .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    height: 100vh;
    min-height: 30em;
    background: url(bannerrr.jpg)
    no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    opacity: 100%;
}

nav{
    padding: 1.5em 2.5em; 
    position: relative;
}
.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0); /* Define a cor de fundo como transparente */
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: background-color 0.5s ease, opacity 0.5s ease; /* Adiciona transição suave para cor de fundo e opacidade */
}

.sticky-nav.sticky-nav {
    background-color:#ecf0f1; /* Define a cor de fundo quando a barra está fixada */
    opacity: 1;
}
.menu-btn{
    display: none;
}

.brand{
    font-size: 1.5em;
      
}

nav li{

    display: inline-block;
    margin: 0 0.8em;
    text-align: center;
}

nav a{
    color: #ff6700;
}

nav a:hover{
    color: #fff;
}

.header-body{
    padding: 2.5em;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.header-body p{
max-width: 25em;
}

.heading h2{

    margin-bottom: 1em;
}

.heading p{
    margin-left: 3em;
    display: inline-block;
    
}

.infos{
    gap: 2em;
}
 
.infos .heading{

    padding: 5em 1em;
}

.container{
    width: 100%;
    height: 10em;
    padding: 0 8%
}

.container h4{
   
     margin-bottom: 1em;
}

 

.row{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax (250px, 1fr));
    grid-gap: 30px;
}

.service{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
     
}

.service i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #ff6700;
}

.service h4{
    margin-bottom: 8px;
}

.service:hover{
    background: #ff6700;
    color: #fff;
    transform: scale(1.05);
}

.service:hover i{
     
    color: #fff;
     
}

@media screen and (max-width: 900px) {
    /* ... outras regras de mídia existentes ... */

    .row{
        flex-direction: column;
    }
    .service {
        flex: 0 0 100%; /* Ajusta a largura dos serviços para ocupar 100% da largura em telas menores */
        margin-bottom: 20px;
    }

     
    .service i {
        margin-bottom: 10px;
    }
    
    .service h4 {
        margin-bottom: 8px;
    }
    .Servicos {
        padding: 2.5em 0;
        text-align: center;
    }
    
    .servicos-header {
        width: 100%;
    }
}











@media screen and (max-width:900px) { 
    .menu-btn {
        display: block;
        font-size: 1.2em;
        cursor: pointer;
        color: #ff6700;
      }
    
      .menu-btn:hover {
        color: #fff;
      }
    
      .brand,
      .menu-btn {
        position: relative;
        z-index: 1;
      }
    
      .menu {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        background: #161616;
        width: 100%;
        z-index: 0;
        height: 0;
        overflow-y: hidden;
        transition: 0.6s ease-in-out;
      }
      
    
      .menu-open {
        height: 17em;
        padding: 5em 0 1em 0;
      }
    
      .menu li {
        display: block;
        margin-top: 1.3em;
        
      }
    
      .specs ul {
        width: 80vw;
      }
    
      .infos,
      .info {
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
    
      .infos {
        gap: 3em;
      }
    
      .info img {
        margin: 0 0 1em 0;
        width: 50%;
        right: auto;
        margin-top: 2em;
      }
}

@media screen and (max-width: 600px) {
    html{
        font-size: 14px;
    }
}

 


.contact-info {
    display: grid;
    align-items: center;
    height: 10em;
    flex: 0 0 48%; /* Adicionado para ajustar a largura dos itens de contato em telas menores */
    margin-top: 20px;
}

 
.contact-info i {
    
    color: #ff6700;
     
}
.contact-info a{
    padding-left: 1em;
    color: #000;
}


/* Adaptação para telas menores */
@media screen and (max-width: 900px) {
    .contact-info i {
        margin: 10px 0; /* Ajusta o espaçamento para ícones em telas menores */
    }   
    
    
    .contatos{
         
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .contact-info {
    display: grid;
    align-items: center;
    height: 10em;
     
 
    flex: 0 0 100%; /* Ajusta a largura dos itens de contato para ocupar 100% da largura em telas menores */
        margin-top: 20px; 
    }
    
    .contact-info i {
         
        color: #ff6700;
        margin: 0 10px; /* Adicionado espaçamento entre os ícones e texto */
    }

    .contato h5{

        margin-top: 40em;
    }
    
}
  .container-star {
     
    width: 100%;
    padding: 20px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-star.post {
    display: none;
}

.container-star .text {
    font-size: 25px;
    color: #666;
    font-weight: 500;
}

.container-star .edit {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}

.container-star.edit:hover {
    text-decoration: underline;
}

.container-star .star-widget input {
    display: none;
}

.star-widget label {
    font-size: 40px;
    color: #000;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
    color: #ff6700;
}

input:checked ~ label {
    color: #ff6700;
}

input#rate-5:checked ~ label {
    color: #ff6700;
    
}

#rate-1:checked ~ form .custom-header:before {
    content: "Péssima ";
}

#rate-2:checked ~ form .custom-header:before {
    content: "Ruim";
}

#rate-3:checked ~ form .custom-header:before {
    content: "Ok";
}

#rate-4:checked ~ form .custom-header:before {
    content: "Muito boa";
}

#rate-5:checked ~ form .custom-header:before {
    content: "Incrível";
}

.container-star form {
    display: none;
}

input:checked ~ form {
    display: block;
}

form .custom-header {
    width: 100%;
    font-size: 25px;
    color: #141414;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

form .textarea {
    height: auto;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
    height: auto;
    width: 100%;
    outline: none;
    color: #000;
    border: 1px solid #333;
    background: #ecf0f1;
    padding: 10px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    resize: none;
}

.form-dark textarea:focus {
    border-color: #444;
}

.textarea textarea:focus {
    border-color: #444;
}

form .btn {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

form .btn button {
    height: auto;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #ff6700;
    color: #000;
    font-size: 20px;
  
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Poppins", sans-serif;
}

form .btn button:hover {
    background: #fffefe;
}

@media only screen and (max-width: 400px) {
    .star-widget label {
        font-size: 24px;
    }

    form .textarea textarea {
        font-size: 12px;
    }

    form .btn button {
        font-size: 14px;
    }
}